

<div class="row">
    <div class="col-md-12">
        <br>
        {{#if course}}

        <h2>Edit Course: {{course.courseCode}}</h2>
        <hr />
        <form method="POST" action="/course/update/{{course.courseId}}">

            <input type="hidden" name="courseId" value="{{course.courseId}}" />

            <fieldset>
                <legend>Course Information</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Course Code:</label>
                            <input type="text" class="form-control" name="courseCode" value="{{course.courseCode}}"
                                required="required" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Course Description:</label>
                            <input type="text" class="form-control" name="courseDescription"
                                value="{{course.courseDescription}}" required="required" />
                        </div>
                    </div>
                </div>
            </fieldset>

            <hr>

            <input type="submit" class="btn btn-primary float-end" value="Update Course" />
        </form>
        {{else}}
            <div class="col-md-12 text-center">
                <strong>{{message}}</strong>
            </div>
        {{/if}}

    </div>
</div>