<div class="row">
    <div class="col-md-12">
        <br>
        <h2>Courses</h2>
        <hr />


        {{#if courses.length}}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Course Code</th>
                            <th scope="col">Course Description</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each courses}}
                            <tr>
                                <td><a href="/course/{{courseId}}">{{courseCode}}</a></td>
                                <td><a href="/students?course={{courseId}}">{{courseDescription}}</a></td>
                                <td><a href="/course/delete/{{courseId}}" class="btn btn-danger">Remove</a></td>
                            
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        {{else}}
            <div class="col-md-12 text-center">
                <strong>{{message}}</strong>
            </div>
        {{/if}}
                <a href="/courses/add" class="btn btn-success float-end">Add New Course</a>

    </div>
</div>