<div class="row">
    <div class="col-md-12">
        <br>
        <h2>Students</h2>
        <hr />
        {{#if students.length}}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Student Num</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Status</th>
                        <th>Course ID</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each students}}
                    <tr>
                        <td>{{studentNum}}</td>
                        <td>
                            <a href="/student/{{studentNum}}">{{firstName}} {{lastName}}</a>
                        </td>
                        <td>{{email}}</td>
                        <td>{{addressStreet}} {{addressCity}} {{addressProvince}}</td>
                        <td>{{status}}</td>
                        <td>{{courseId}}</td>
                        <td>
                            <a href="/students/delete/{{studentNum}}" class="btn btn-danger">Remove</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>
        {{else}}
        <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
        {{/if}}
        <a href="/students/add" class="btn btn-success float-end">Add New Student</a>

    </div>
</div>